@import "./themes/mocha.css";

* {
	font-family: CaskaydiaCove NFM, Helvetica, sans-serif;
	font-size: 1rem;
}

#scratchpad,
#workspaces,
#tray,
#idle_inhibitor,
#pulseaudio,
#battery,
#network,
#clock {
	background-color: @surface0;
	border-radius: 0.5rem;
	margin: 0.5rem 0.225rem;
}

window#waybar {
	background-color: shade(@base, 0.825);
	color: @text;
}

#workspaces button:first-child,
#workspaces button:last-child {
	border-radius: 0.5rem;
}

#workspaces button:first-child {
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#workspaces button:last-child {
	border-bottom-left-radius: 0;
	border-top-left-radius: 0;
}

#workspaces button {
	border-radius: 0;
}

#workspaces button:only-child {
	border-radius: 0.5rem;
}

#workspaces button.focused {
	background-color: @surface1;
	color: @blue;
}

#clock,
#battery,
#network,
#pulseaudio,
#tray,
#mode,
#idle_inhibitor,
#scratchpad {
	padding-left: 1.25rem;
	padding-right: 1.25rem;
}

#mode {
	background-color: transparent;
}

.modules-left:first-child {
    margin-left: 0.25rem;
}

.modules-right:last-child {
    margin-right: 0.25rem;
}

.modules-left:not(:first-child) {
	margin-left: 0.125rem;
}

.modules-right:not(:last-child) {
	margin-right: 0.125rem;
}
